<%- include('partials/header') %>

<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="exampleInputEmail1">Title</label>
    <input class="form-control" type="text" name="title">
    <label for="exampleInputEmail1">Post</label>
    <textarea class="form-control" name="post" id="" cols="30" rows="5"></textarea>
    <button class="compose-btn btn btn-primary btn-sm mc-1" type="submit">Publish</button>
</form>

<%- include('partials/footer') %>